<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>My Compiler 0.2</title>
    <!-- Style -->
    <style></style>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>My Compiler 0.2</h1>
            <button class="btn btn-outline-secondary" type="button" id="c_btn" onclick="c_lang_slct()">C</button>
            <button class="btn btn-outline-secondary" type="button" id="cpp_btn" onclick="cpp_lang_slct()">C++</button>
            <button class="btn btn-outline-secondary" type="button" id="java_btn" onclick="java_lang_slct()">Java</button>
            <button class="btn btn-outline-secondary" type="button" id="py_btn" onclick="py_lang_slct()">Python</button>
            <button class="btn btn-warning" type="button" id="clear_btn" onclick="clearTextArea()">Clear</button>
            <button class="btn btn-primary" type="button" id="import_btn" onclick="files.click()">Import</button>
            <button class="btn btn-primary" type="button" id="export_btn" onclick="export_file()">Export</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <form>
                    <label>Your code here:</label>
                    <!-- get the code -->
                    <textarea class="form-control" id="code_section" rows="13" onkeydown="insertTab(this, event);" autofocus style="font-family:courier;"></textarea>
                </form>
                <output id="list"></output>
            </div>
            <div class="col-1">
                <br><br>
                <!-- show compiled result -->
                <button class="btn btn-primary" type="button" id="run_btn" onclick="show()">Run</button>
            </div>
            <div class="col-3">
                <form>
                    <label>Your Input here:</label>
                    <textarea class="form-control" id="input_section" rows="5" onkeydown="insertTab(this, event);"></textarea>
                </form>
                <fieldset>
                    <label>Your Output here:</label>
                    <textarea class="form-control" id="output_section" rows="6" disabled></textarea>
                </fieldset>
            </div>
            <div class="col-1">
                <br><br>
                <!-- show after run_btn clicked -->
                <button class="btn btn-success" type="button" id="run_btn" onclick="input()">Enter</button>
                <input type="file" id="files" name="files[]" multiple style="display: none"/>
                <p id="lang"></p>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script>
    // allowing to type TAB in the code_section
    function insertTab(o, e) {
        var kC = e.keyCode ? e.keyCode : e.charCode ? e.charCode : e.which;
        if (kC == 9 && !e.shiftKey && !e.ctrlKey && !e.altKey) {
            var oS = o.scrollTop;
            if (o.setSelectionRange) {
                var sS = o.selectionStart;
                var sE = o.selectionEnd;
                o.value = o.value.substring(0, sS) + "\t" + o.value.substr(sE);
                o.setSelectionRange(sS + 1, sS + 1);
                o.focus();
            } else if (o.createTextRange) {
                document.selection.createRange().text = "\t";
                e.returnValue = false;
            }
            o.scrollTop = oS;
            if (e.preventDefault) {
                e.preventDefault();
            }
            return false;
        }
        return true;
    }

    var lang = 0;

    function show() {
        // compile function not available
        document.getElementById("output_section").value = document.getElementById("code_section").value;
    }

    function clearTextArea() {
        document.getElementById("code_section").value = null;
        document.getElementById("input_section").value = null;
        document.getElementById("output_section").value = null;
        document.getElementById("c_btn").className = "btn btn-outline-secondary";
        document.getElementById("cpp_btn").className = "btn btn-outline-secondary";
        document.getElementById("java_btn").className = "btn btn-outline-secondary";
        document.getElementById("py_btn").className = "btn btn-outline-secondary";
        document.getElementById("c_btn").disabled = false;
        document.getElementById("cpp_btn").disabled = false;
        document.getElementById("java_btn").disabled = false;
        document.getElementById("py_btn").disabled = false;
        document.getElementById("list").value = '';

    }

    function c_lang_slct() {
        document.getElementById("c_btn").className = "btn btn-outline-secondary active";
        document.getElementById("cpp_btn").className = "btn btn-outline-secondary";
        document.getElementById("java_btn").className = "btn btn-outline-secondary";
        document.getElementById("py_btn").className = "btn btn-outline-secondary";
        document.getElementById("cpp_btn").disabled = true;
        document.getElementById("java_btn").disabled = true;
        document.getElementById("py_btn").disabled = true;
        if (document.getElementById("code_section") == '')
            document.getElementById("code_section").value = "#include<stdio.h>\n\nint main(){\n\t\n}";
        lang = 1;
        // flag C selected and prepare to compile in C
    }

    function cpp_lang_slct() {
        document.getElementById("c_btn").className = "btn btn-outline-secondary";
        document.getElementById("cpp_btn").className = "btn btn-outline-secondary active";
        document.getElementById("java_btn").className = "btn btn-outline-secondary";
        document.getElementById("py_btn").className = "btn btn-outline-secondary";
        document.getElementById("c_btn").disabled = true;
        document.getElementById("java_btn").disabled = true;
        document.getElementById("py_btn").disabled = true;
        if (document.getElementById("code_section") == '')
            document.getElementById("code_section").value = "#include<iostream>\nusing namespace std;\n\nint main(){\n\t\n}";
        lang = 2;
        // flag C++ selected and prepare to compile in C++
    }

    function java_lang_slct() {
    	document.getElementById("c_btn").className = "btn btn-outline-secondary";
        document.getElementById("cpp_btn").className = "btn btn-outline-secondary";
        document.getElementById("java_btn").className = "btn btn-outline-secondary active";
        document.getElementById("py_btn").className = "btn btn-outline-secondary";
        document.getElementById("c_btn").disabled = true;
        document.getElementById("cpp_btn").disabled = true;
        document.getElementById("py_btn").disabled = true;
        if (document.getElementById("code_section") == '')
            document.getElementById("code_section").value = "public class myClass{\n\tpublic static void main(){\n\t\n\t}\n}";
    	lang = 3;
    	// flag java selected and prepare to compile in java
    }

    function py_lang_slct() {
    	document.getElementById("c_btn").className = "btn btn-outline-secondary";
        document.getElementById("cpp_btn").className = "btn btn-outline-secondary";
        document.getElementById("java_btn").className = "btn btn-outline-secondary";
        document.getElementById("py_btn").className = "btn btn-outline-secondary active";
        document.getElementById("c_btn").disabled = true;
        document.getElementById("cpp_btn").disabled = true;
        document.getElementById("java_btn").disabled = true;
        if (document.getElementById("code_section") == '')
            document.getElementById("code_section").value = "# coding with MyCompiler\n\n";
    	lang = 4;
    	// flag python selected and prepare to compile in python
    }

    function export_file() {
        var text = document.getElementById("code_section").value;
        
        var textFileAsBlob = new Blob([ text ], { type: 'text/plain' });
        var fileFormat = "";
        switch (lang){
            case 0: //warning
            alert("File format unselected!\n[Default]Saving file as txt.") //language unselected
            fileFormat = ".txt";
            break;
            case 1:
            fileFormat = ".c";
            break;
            case 2:
            fileFormat = ".cpp";
            break;
            case 3:
            fileFormat = ".java";
            break;
            case 4:
            fileFormat = ".py";
            break;
        }
        var fileName = prompt("Please enter file name:", "myCode");
        if (fileName === null){
            // cancel saving
            return;
        }
        var fileNameToSaveAs = fileName + fileFormat;
        var downloadLink = document.createElement("a");
        downloadLink.download = fileNameToSaveAs;
        downloadLink.innerHTML = "Download File";
        if (window.webkitURL != null) {
            // Chrome allows the link to be clicked without actually adding it to the DOM.
            downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
        } else {
            // Firefox requires the link to be added to the DOM before it can be clicked.
            downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
            downloadLink.onclick = destroyClickedElement;
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
        }

        downloadLink.click();
    }

    function destroyClickedElement(event) {
        // remove the link from the DOM
        document.body.removeChild(event.target);
    }

    function import_file(evt) {
        var files = evt.target.files; // FileList object

        // files is a FileList of File objects. List some properties.
        var output = [];
        for (var i = 0, f; f = files[i]; i++) {
            output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                      f.size, ' bytes, last modified: ',
                      f.lastModifiedDate.toLocaleDateString(), '</li>');

            var fReader = new FileReader();           
            fReader.onload = function (event) {
                document.getElementById('code_section').value = event.target.result;
            };
            fReader.readAsText(f);
        }
        document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
    }

    document.getElementById('files').addEventListener('change', import_file, false);


    /*
    function input(){
    	// code in flask?
    }



    */
    </script>
</body>

</html>